{% load i18n %}
{% load event_tags %}
<dialog id="request-email-dialog" class="exhibition-email-dialog" aria-labelledby="request-email-dialog-title"{% if email_dialog_open %} data-open-on-load{% endif %}>
  <form action="{% url 'plugins:exhibition:request.email' organizer=request.event.organizer.slug event=request.event.slug code=exhibition_request.code %}"
        method="post" class="form-horizontal modal-content">
    {% csrf_token %}
    <input type="hidden" name="from_dialog" value="1">
    <div class="modal-header">
      <button type="button" class="close" data-request-email-close aria-label="{% trans 'Close' %}">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="request-email-dialog-title">
        {% blocktrans trimmed with name=exhibition_request.name|event_localize %}
          Send email to {{ name }}
        {% endblocktrans %}
      </h4>
    </div>
    <div class="modal-body">
      {% include 'exhibitors/_request_email_fields.html' with form=email_form recipient=email_recipient %}
    </div>
    <div class="modal-footer">
      <div class="exhibition-email-dialog-actions">
        <button type="button" class="btn btn-default btn-lg" data-request-email-close>{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-default btn-lg" name="_save" value="save">{% trans 'Save to outbox' %}</button>
        <button type="submit" class="btn btn-primary btn-lg" name="_send" value="send">
          <i class="fa fa-paper-plane"></i> {% trans 'Send' %}
        </button>
      </div>
    </div>
  </form>
</dialog>
