{% load i18n %}
{% load urlreplace %}
{{ label }}
<span class="list-sort">
    <a {% if ajax %}data-ajax {% endif %}href="?{% url_replace request 'ordering' field 'page' '1' %}"
       class="{% if filter_form.current_ordering == field %}text-primary{% else %}text-muted{% endif %}"
       aria-label="{% trans 'Sort ascending' %}"><i class="fa fa-caret-up"></i></a>
    <a {% if ajax %}data-ajax {% endif %}href="?{% url_replace request 'ordering' '-'|add:field 'page' '1' %}"
       class="{% if filter_form.current_ordering == '-'|add:field %}text-primary{% else %}text-muted{% endif %}"
       aria-label="{% trans 'Sort descending' %}"><i class="fa fa-caret-down"></i></a>
</span>
