{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ request.event.name }} - {% trans "Form field" %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Form field" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{{ field_setting.default_label }}</legend>
            {% bootstrap_field form.label layout="control" %}
            {% bootstrap_field form.help_text layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">{% trans "Save" %}</button>
            <a class="btn btn-default btn-lg" href="{% url 'plugins:exhibition:call.questions' organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}
