{% extends "exhibitors/base.html" %}
{% load i18n %} 
{% block exhibitors_header %}
<h1>{% trans "Delete Exhibitor or Sponsor" %}</h1>
{% endblock %}

{% block exhibitors_content %}
<p>
  {% trans "Are you sure you want to delete this exhibitor or sponsor? This action cannot be undone." %}
</p>

<form action="" method="post">
  {% csrf_token %}
  <div class="form-actions">
    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
    <a
      class="btn btn-default"
      href="{% url 'plugins:exhibition:info' organizer=request.event.organizer.slug event=request.event.slug %}"
    >
      {% trans "Cancel" %}
    </a>
  </div>
</form>
{% endblock %}
