{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load static %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'exhibition/css/message-center.css' %}">
    <script defer src="{% static 'exhibition/js/message-center.js' %}"></script>
{% endblock %}

{% block title %}{{ request.event.name }} - {% trans "Sent emails" %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Sent emails" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <div id="email-list">
        {% include "exhibitors/_email_sent_body.html" %}
    </div>
{% endblock %}
