{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ request.event.name }} - {% trans "Edit email" %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Preview / edit email" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <p>
        <a class="btn btn-default" href="{% url 'plugins:exhibition:email.outbox' organizer=request.event.organizer.slug event=request.event.slug %}">
            <i class="fa fa-arrow-left"></i> {% trans "Back to outbox" %}
        </a>
    </p>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout="control" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-default" name="_save" value="save">
                {% trans "Save changes" %}
            </button>
        </div>
    </form>

    <form action="{% url 'plugins:exhibition:email.send' organizer=request.event.organizer.slug event=request.event.slug pk=email.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-paper-plane"></i> {% trans "Send now" %}
        </button>
    </form>
{% endblock %}
