{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ request.event.name }} - {% trans "Custom template" %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Custom template" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.name layout="control" %}
        {% bootstrap_field form.subject layout="control" %}
        {% bootstrap_field form.body layout="control" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">{% trans "Save" %}</button>
            <a class="btn btn-default btn-lg" href="{% url 'plugins:exhibition:email.templates' organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}
