{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load static %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'exhibition/css/message-center.css' %}">
    <link rel="stylesheet" href="{% static 'exhibition/css/list-controls.css' %}">
    <script defer src="{% static 'exhibition/js/message-center.js' %}"></script>
{% endblock %}

{% block title %}{{ request.event.name }} - {% trans "Email outbox" %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Email outbox" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <p class="text-muted">
        {% trans "Emails waiting to be sent. Review, edit, or discard them before sending." %}
    </p>
    <div id="email-list">
        {% include "exhibitors/_email_outbox_body.html" %}
    </div>
{% endblock %}
