{% extends "exhibitors/call_base.html" %}
{% load i18n %}

{% block call_content %}
    <h2 id="exhibition-call-heading">{% trans "Reinstate request" %}</h2>
    <p>
        {% blocktrans trimmed with name=proposal.name %}
            Do you want to reinstate your withdrawn request “{{ name }}”? It will be pending review again.
        {% endblocktrans %}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% trans "Reinstate request" %}
        </button>
        <a class="btn btn-default" href="{% url 'plugins:exhibition:proposal.user_list' organizer=request.event.organizer.slug event=request.event.slug %}">
            {% trans "Cancel" %}
        </a>
    </form>
{% endblock %}
