{% extends "exhibitors/call_base.html" %}
{% load i18n %}
{% load event_tags %}
{% load rich_text %}

{% block call_content %}
    <h2 id="exhibition-call-heading">
        {{ call.headline|event_localize|default:call.default_headline }}
    </h2>
    {% if call.text %}
        {{ call.text|event_localize|rich_text }}
    {% elif call.is_sponsor_call %}
        <p>{% trans "Submit a proposal to become a sponsor for this event." %}</p>
    {% else %}
        <p>{% trans "Submit a proposal to become an exhibitor for this event." %}</p>
    {% endif %}
    {% if call.deadline %}
        <p>
            <strong>
                {% if call.is_open %}
                    {% blocktrans with deadline=call.deadline|date:"SHORT_DATETIME_FORMAT" timezone=request.timezone trimmed %}
                        You can submit proposals until {{ deadline }} ({{ timezone }}).
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with deadline=call.deadline|date:"SHORT_DATETIME_FORMAT" timezone=request.timezone trimmed %}
                        This call closed on {{ deadline }} ({{ timezone }}).
                    {% endblocktrans %}
                {% endif %}
            </strong>
        </p>
    {% endif %}
    <div class="url-links">
        {% if request.user.is_authenticated %}
            <a class="btn btn-info btn-lg btn-block" href="{% url 'plugins:exhibition:proposal.user_list' organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "View your proposals" %}
            </a>
        {% endif %}
        <a class="btn btn-success btn-lg btn-block {% if not call.is_open %}disabled{% endif %}"
           href="{% url 'plugins:exhibition:proposal.add' organizer=request.event.organizer.slug event=request.event.slug call_type=call.call_type %}">
            {% if call.is_open %}
                {% trans "Submit a proposal" %}
            {% else %}
                {% trans "Proposals are closed" %}
            {% endif %}
        </a>
    </div>
{% endblock %}
