.proposal-field-order tr[dragsort-id].drag-indicator.insert-before th,
.proposal-field-order tr[dragsort-id].drag-indicator.insert-before td {
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.proposal-field-order tr[dragsort-id].drag-indicator.insert-after th,
.proposal-field-order tr[dragsort-id].drag-indicator.insert-after td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.proposal-field-order thead.drag-indicator.insert-after {
    box-shadow: 0 2px rgba(0, 0, 0, 0.6);
}

.proposal-field-order tr[dragsort-id].dragging td {
    background-color: #eef0f2;
}

.proposal-field-order .dragsort-button:not(:disabled) {
    cursor: grab;
}

.proposal-field-order .dragsort-button:not(:disabled):active {
    cursor: grabbing;
}

body.dragging .dragsort-button {
    transform: translate(-9999px);
}
